body{
    background-color: lightgray;
    height: 100%;
}

.services{
    background-color: lightgrey;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center space-between;
    flex-direction: column;
    align-items: center ;
    padding: 20px;
}

.services-title{
    color: rgb(100, 156, 240);
    font-size: 35px;
    text-decoration: underline white;
    font-family: 'Comfortaa', cursive;
    
}

.services-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 900px;
    width: 80vw;
    background-color: white;
    margin-bottom: 10px;
}

.services-image-container{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    flex-direction: row;

}

.services-image{
    display: flex;
    justify-content: space-evenly;
     align-items: center;
    flex-direction: row; 
    max-width: 22%;
    max-height: 90%; 
    
}  

