.about{
    background-color: lightgrey;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center space-between;
    flex-direction: column;
    align-items: center ;
    padding: 20px;
}

.aboutTitle{
    color: rgb(100, 156, 240);
    font-size: 30px;
    text-decoration: underline white;
    font-family: 'Comfortaa', cursive;
}

.bio{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 700px;
    height: 700px;
    border-radius: 10px;
}

.photo{
    border-radius: 10px;
    max-width: 30vw;
    max-height: 35vh;
    margin-top: 15px;
    box-shadow: 0px 0px 0px gray, 
    -2px 2px 5px gray, 2px 2px 5px gray;
    /* object-fit: cover; */
}

.words{
    font-size: 16px;
    margin-top: 18px;
    margin-left: 15px;
    margin-right: 15px;
    text-indent: 4em;
    /* display: flex; */
    text-align: center;
    font-family: 'Baloo Bhaina 2', cursive;
}