.header{
    background-color: #4d5055;
    height: 70px;
    /* display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-items: center; */
}

.login{
    font-family: 'Comfortaa', cursive;
    color: white;
    text-decoration: underline rgb(100, 156, 240);
    border-radius: 10px;
    margin-right: 5px;
}

.register-login-q{
    font-family: 'Comfortaa', cursive;
    color: white;
    text-decoration: underline rgb(100, 156, 240);
    margin-left: 5px;
}

.q-button{
    text-decoration: underline white;
    color: rgb(100, 156, 240);
}

.login-register{
    position: fixed;
    background-color: #66666660;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-input{
    font-family: 'Baloo Bhaina 2', cursive;
    border-radius: 6px;
    border: rgb(100, 156, 240) solid 2px;
    margin-right: 5px;
    margin-bottom: 2px;
    
}

.header-button{
    /* font-family: 'Baloo Bhaina 2', cursive;
    width: 110px;
    border-radius: 6px;
    border: rgb(100, 156, 240) solid 2px;
    margin-bottom: 2px; */
    width: 90px;
    border: solid white 2px;
    background-color: rgb(100, 156, 240);
    color: white;
    border-radius: 6px;
    font-family: 'Baloo Bhaina 2', cursive;
}

.header-button:hover{
    border-radius: 6px;
    border: rgb(100, 156, 240) solid 2px;
    background-color: white;
    color: rgb(100, 156, 240);
    margin-bottom: 2px;
}

.dropdown-menu {
    height: 150px;
    width: 100%;
    position: fixed;
    top: 125px;
    background-color: #444445;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-top: 2px solid white;
  
  }

.navbar{
    /* display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-left: 50%;
    padding-bottom: 10px;
    height: 100%; */

    display: none;
    
}

.dropdown-button {
    display: flex;
    justify-content: center;

  }



@media(min-width: 1000px) {
    .dropdown-button {
      display: none;
  
    }
  
    .dropdown-menu {
      display: none;
    }
  
    /* .navbar {
      width: 25%;
      display: flex;
      justify-content: space-around;
    } */

    .navbar{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        padding-left: 50%;
        padding-bottom: 10px;
        height: 100%;
        }
  }

@media(min-width: 500px) {
    .header {
      flex-direction: row;
      justify-content: space-between;
      box-sizing: border-box;
      /* padding: 0px 25px; */
    }
    .navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-left: 50%;
    padding-bottom: 10px;
    height: 100%;
    }
  
    .header-logo{
      margin-left: 25px;
    }
  
    .dropdown-button{
      display: none;
    }
  }
