.App {
  text-align: center;
}

.header{
  background-color: #4d5055;
  height: 30%;
}

.drp{
  font-family: 'Comfortaa', cursive;
  color: rgb(100, 156, 240);
  text-decoration: none;
}

a:visited{
  color: white;
  /* text-decoration: none; */
  /* text-decoration: none; */
}
