.App {
  text-align: center;
}


.drp{
  font-family: 'Comfortaa', cursive;
  color: rgb(100, 156, 240);
  text-decoration: none;
}

a:visited{
  color: white;
  /* text-decoration: none; */
  /* text-decoration: none; */
}


